<footer id="footer">
  <div class="footerInner">
    <div class="footerItems">
      <!-- <a class="footerItem" href="">About This Blog</a> -->
      <span class="footerItem"><abbr title="<%=__('common.copyright')%>" style="cursor: help;">©</abbr>&nbsp;<%=date(Date.now(), 'YYYY')+' '+config.author%></span>
      <span class="footerItem">Powered by&nbsp;<a href="https://hexo.io/" target="_blank">Hexo</a></span>
      <% if (theme?.info?.registration) { %>
      <span class="footerItem"><%=theme.info.registration%></span>
      <% } %>
    </div>
  </div>
</footer>